dash==1.9.0
dash-core-components==1.8.0
dash-html-components==1.0.2
dash-renderer==1.2.4
dash-table==4.6.0
dash-table-experiments==0.6.0
gunicorn==19.7.1
numpy==1.15.4
pandas==0.23.4
plotly==4.5.0
xlrd==1.2.0
datetime